{% extends "base.html" %}

{% block title %}Movie Production App{% endblock %}

{% block page_content %}
<div class="page-header">
    <form>
        <input type="button" value="Back to Positions" onclick="history.back()">
    </form>
    <h1>Movie Development Positions</h1>
    <ul>
        <li>Producer</li>
        <li>Director</li>
        <li>Showrunner</li>
        <li>Screenwriter</li>
        <li>Co-Producer</li>
        <li>Associate Producer</li>
        <li>Script Analyst</li>
    </ul>
</div>
{% endblock %}