{% extends "base.html" %}

{% block title %}Movie Production App{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>List of Available Positions:</h1>
    <ul>
        <li><a href="/camera-operators">Camera Operators</a></li>
        <li><a href="/film-editors">Film Editing</a></li>
        <li><a href="/film-finance">Film Finance</a></li>
        <li><a href="/film-music">Film Music</a></li>
        <li><a href="/film-sound-and-color">Film Sound and Color</a></li>
        <li><a href="/lighting-positions">Lighting</a></li>
        <li><a href="/movie-development">Movie Development</a></li>
        <li><a href="/production-art">Production Art</a></li>
        <li><a href="/production-sound">Production Sound</a></li>
        <li><a href="/production-specialty">Production Speciality</a></li>
        <li><a href="/production-supervisors">Production Supervisors</a></li>
    </ul>
</div>
{% endblock %}