{% extends "base.html" %}

{% block title %}Movie Production App{% endblock %}

{% block page_content %}
<div class="page-header">
    <form>
        <input type="button" value="Back to Positions" onclick="history.back()">
    </form>
    <h1>Production Supervisors Positions</h1>
    <ul>
        <li>Line Producer</li>
        <li>Location Manager</li>
        <li>Unit Production Manager</li>
        <li>Production Coordinator</li>
        <li>1st Assistant Director</li>
        <li>2nd Assistant Director</li>
        <li>Key PA</li>
        <li>Script Supervisor</li>
    </ul>
</div>
{% endblock %}