{% extends "base.html" %}

{% block title %}Movie Production App{% endblock %}

{% block page_content %}
<div class="page-header">
    <form>
        <input type="button" value="Back to Positions" onclick="history.back()">
    </form>
    <h1>Production Art Positions</h1>
    <ul>
        <li>Production Designer</li>
        <li>Art Director</li>
        <li>Set Dresser</li>
        <li>Storyboard Artist</li>
        <li>Makeup Artist</li>
        <li>Props Manager</li>
        <li>Graphic Artist</li>
        <li>Costume Designer</li>
        <li>Assistant Costume Designer</li>
    </ul>
</div>
{% endblock %}