{% extends "base.html" %}

{% block title %}Movie Production App{% endblock %}

{% block page_content %}
<div class="page-header">
    <form>
        <input type="button" value="Back to Positions" onclick="history.back()">
    </form>
    <h1>Production Speciality Positions</h1>
    <ul>
        <li>On Set Visual Effects Supervisor</li>
        <li>Drone Pilot</li>
        <li>Film Catering Person</li>
        <li>Armorer</li>
        <li>Production Accountant</li>
        <li>Production Assistant</li>
        <li>Digital Imaging Technician</li>
    </ul>
</div>
{% endblock %}